@using Dia.WebPL
@using Dia.IBLC
@using Dia.Entities

@{
    Page.Title = "Report";
    int elementNumber = 0;

    DateTime filledFrom;
    string filledTime = Request[$"filledfrom"]?.Substring(0, Math.Min(24, Request[$"filledfrom"].Length));
    if (!DateTime.TryParse(filledTime, out filledFrom))
    {
        filledFrom = DateTime.Today;
    }


    IEnumerable<Exam> exams = LogicProvider.diaLogic.ReadReports(filledFrom);
}
<div class="container-fluid footer">
    <div class="row">
        <div class="col-4">
            <div id="datepicker"></div>
            <form action="~/Report.cshtml" method="post">
                <input type="hidden" id="datepicker_value" value="filledTime" name="filledfrom">@*@(filledTime)*@
            </form>
        </div>
        <div class="col-4">
            <br>
            <br>
            <br>
            @if (exams.Any())
            {
              <h3>  Дата измерениий: @filledFrom.ToShortDateString()</h3>
            }
             else
            {
                    <h3> Отчёты за @filledFrom.ToShortDateString() на найдены</h3>
            }
        </div>
        <div class="col-4">
        </div>
    </div>
</div>

@foreach (Exam exam in exams)
{
    <div class="container-fluid header">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                Отделение: @exam.ExamSection.Name
                @*   <br>Ответственный: @exam.ExamUser.Name*@
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                Начало замеров: @exam.FilledFrom
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                Окончание замеров: @exam.FilledTo
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="container-fluid maintable">

        @if (exam?.Lines != null)
        {
            int colNumber = 0;
            string currentLine = string.Empty;
            <div class="row">
                <div class="col-4 border border-dark  d-none d-md-block"></div>
                <div class="col-1  d-sm-block d-md-none"></div>
                @foreach (var device in exam.Titles)
                {
                    <div class="col-@(device.Value.Count) caption">
                        @(device.Key)
                    </div>
                }

            </div>
            <div class="row">
                <div class="col-4  d-none d-md-block">Номер клапана полива</div>
                <div class="col-1  d-sm-block d-md-none"></div>

                @foreach (var device in exam.Titles)
                {
                    foreach (string element in device.Value)
                    {
                        elementNumber++;
                        <div class="col-1 caption">
                            @(element)
                        </div>
                    }
                }

            </div>

            foreach (Line line in exam.Lines)
            {
                colNumber = 0;
                <div class=row>
                    <div class="col-1 col-md-4 ">
                        @(line.Name)
                    </div>
                    @foreach (Device device in line.Devices)
                    {
                        foreach (Meter meter in device.Meters)
                        {
                            colNumber++;
                            while (colNumber < meter.ColumnNumber && colNumber < elementNumber)
                            {
                                <div class="col-1 border-danger">
                                    ???
                                </div>
                                colNumber++;
                            }

                            if (meter.ColumnNumber == colNumber)
                            {
                                if (meter.Value == null)
                                {
                                    <div class="col col-1 empty"> пусто </div>
                                }
                                else
                                {
                                    <div class="col col-1">
                                        @(meter.Value)
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="col-1 border-danger wrong-column">
                                    @(meter?.Value)
                                </div>
                            }
                        }
                    }
                </div> @*Закрыли ряд*@
            }
        }

    </div> @*Закрыли контейнер  <br>  *@


    <div class="container-fluid footer">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
                Измерение выполнил: @exam.ExamUser.Name
            </div>
            <div class="col-8"></div>
        </div>
        <br>
    </div>
}


<div class="container-fluid ">
    <div class="row">
        <div class="col-7 col-md-4">
            </div>
        <div class="col-7 col-md-4">

        </div>
        <div class="col-7 col-md-4">
            <div id="btnGoExam" class="btn" onclick="goExam();">Провести замеры</div>
        </div>
    </div>
</div>
